body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #F3F5FC;
}
#contenedor-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 2.5em;
    position: absolute;
    width: 11%;
    height: 3em;
    left: 2.5em;
    top: 2.5em;
}
.logo {
    width: 20%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#contenedor-mensaje-usuario {
    border: 2.5px solid #0A3871;
    border-radius: 4px;
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 8em;
    left: 15.3%;
    top: 8.5em;   
}
.mensaje-usuario::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 1em;
    line-height: 150%;
    color: #0A3871;
}
.mensaje-usuario:focus {
    outline: none;
}
.mensaje-usuario {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 150%;
    color: #0A3871;
}
#contenedor-advertencia-minusculas {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 15.3%;
    top: 28em;
    width: 32%;
    height: 3em;
    padding: 0px;
    margin: 0;
}
.advertencia-minusculas {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 0.7em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}
#container-botones {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 1.5em;
    position: absolute;
    width: 45%;
    height: 4em;
    left: 15%;
    top: 33em;
}
.boton-encriptar {
    width: 50%;
    height: 4.1em;
    padding: 1.5em;
    gap: 0.5em;
    background: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1em;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap; 
    text-overflow: ellipsis
}
.boton-encriptar:hover {
    transform: scale(1.1);
    cursor: pointer;
    overflow: visible; 
    text-overflow: clip;
}
.boton-desencriptar {
    width: 50%;
    height: 4.1em;
    padding: 1.5em;
    gap: 0.5em;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.1em;
    text-align: center;
    color: #0A3871;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.boton-desencriptar:hover {
    transform: scale(1.1);
    cursor: pointer;
    overflow: visible; 
    text-overflow: clip;
}
#contenedor-mensaje-procesado {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    position: absolute;
    width: 25%;
    height: 98%;
    left: 65%;
    top: 2%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border: 2px solid #0A3871;
    border-radius: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    padding: 32px;
}
.muñeco {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 5%;
    left: 11%;
}
#mensajes-predeterminados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 1em;
    position: absolute;
    width: 90%;
    height: 30%;
    margin: auto; 
    top: 60%;
}
.primer-parrafo {
    width: 90%;
    height: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 120%;
    text-align: center;
    color: #343A40
}
.segundo-parrafo {
    width: 90%;
    height: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
.mensaje-procesado {
    width: 90%;
    height: 50%;
    box-sizing: border-box;
    font-size: 1em;
    position: absolute;
    top: 0.5em;
    color: #495057;
    white-space: wrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
#boton-copiar {
    position: absolute;
    top: 83.2%;
    width: 79%;
    height: 5em;
    background: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: 'Inter';
    font-style: normal;
    line-height: 1.1em;
    text-align: center;
    color: #0A3871;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
#boton-copiar:hover {
    transform: scale(1.1);
    cursor: pointer;
    overflow: visible; 
    text-overflow: clip;
}
@media (max-width: 1024px) {
    #contenedor-mensaje-usuario {
        width: 75%;
    }
    #contenedor-advertencia-minusculas {
        top: 45%;
        width: 70%;
    }
    .advertencia-minusculas {
        font-size: 1.2em;
    }
    #container-botones {
        width: 75%;
        top: 55%;
    }
    #contenedor-mensaje-procesado {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        top: 65%;
        left: 15%;
        height: 20%;
    }
    .mensaje-procesado {
        overflow: auto;
        position: absolute;
        text-align:justify;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        color: #495057;
    }
    #boton-copiar {
        position: absolute;
        width: 75%;
        top: 70%;
    }
    .muñeco {
        left: 30%;
        width: 30%;
    }
}